:root {
  --grid-cols: 1;
  --grid-cells: 1;
}

#container {
  display: flex;
  width: 100%;
}
#descricao {
  width: 50%;
}
#container {
  width: 50%;
}
#grid-container {
  display: flex;
  border: 1px solid black;
}

.cell {
  background-color: aliceblue;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin: 1px;
  padding: 0%;
}
