:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  display: flex;
  width: 100%;
}
#descricao {
  width: 25%;
}
#grid-container {
  width: 75%;
  display: flex;
}

.col {
  background-color: brown;
  width: 30px;
  height: 30px;
  margin: 1px;
  padding: 0%;
}
