#container {
  display: flex;
  width: 100%;
}
#descricao {
  width: 40%;
}
#container-jogo {
  width: 60%;
}

.row {
  display: flex;
}

.cell {
  background-color: aliceblue;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin: 1px;
}

div.controles button {
  width: 60px;
}

h1 {
  text-align: center;
}

#descricao {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
